<div class="logo-header-main">
    <h1>Bark Party</h1>
</div>

<div class="main-div">

    <div class="dashboard-div">
        <h1>Dashboard</h1>
        <h2> <%= @user.username %> </h2>
        <%= link_to "Home", root_path %>
    </div>





    <div class="party-div">
        <h1> Created Events </h1>

        <% @events.each do |e| %>

            <h2> <%= link_to e.name, event_path(e) %> </h2>

        <% end %>


        
    </div>

    <div class="invited-to-div">
        <h1>Events Invited To</h1>
        <% @events_invited_to.each do |e| %>
            <h2> <%= link_to e.event.name, event_path(e.event) %> <h2>
        <% end %>


    </div>


</div>